.footer {
  display: flex;
  justify-content: space-around;
  background-color: #454545;
  color: #f7fcfd;
  padding: 10px 0;
  align-items: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.footer li {
  margin-right: 20px;
  font-size: 20px;
  transition: 0.2s;
}

.footer li:hover {
  cursor: pointer;
}

.icons a {
  margin-right: 10px;
  font-size: 30px;
}
