.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
  padding-bottom: 40px;
}
.logo {
  font-size: 20px;
}
.logo a {
  font-size: 30px;
}
.logo_2 {
  font-size: 20px;
}

.logo_p {
  margin: 0;
}
