.wrapper {
  text-align: center;
  margin: auto;
}

.blogs {
  padding: 5px 30px;
  background-color: white;
}

.title {
  text-align: center;
}

.blog_body {
  text-align: left;
}

.body {
  width: 500px;
  margin: auto;
}

.blog_image {
  text-align: center;
  width: 500px;
}
