.wrapper {
  text-align: center;
  margin: auto;
}

.blogs {
  padding: 30px 0;
  background-color: white;
}

.title {
  text-align: center;
  margin-bottom: -10px;
}

.blog_body {
  text-align: left;
}

.body {
  width: 700px;
  margin: auto;
}

.blog_image {
  text-align: center;
  width: 700px;
}

.createdAt {
  text-align: left;
  width: 700px;
  margin: auto;
  padding: 20px 0;
}
