/* PC */
@media screen and (min-width: 767px) {
  .main {
    text-align: center;
    align-items: center;
    margin: 80px 0;
  }

  .description {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
  }
  .grid_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .grid_div a {
    margin-bottom: 20px;
    object-fit: cover;
  }
}

/* スマホ */
@media (max-width: 479px) {
  .main {
    text-align: center;
    align-items: center;
    margin: 20px 0;
  }

  .description {
    font-size: 30px;
    font-weight: bolder;
  }
  .grid_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .grid_div a {
    margin-bottom: 20px;
    object-fit: cover;
    width: 300px;
    height: 200px;
  }
}
