html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: auto;
  background-color: gray;
  /* animation: bgchange 20s ease infinite; 変化の時間を変更したい場合は20sの部分を好きな時間に変更 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* アニメーションのためのCSS */
/* @keyframes bgchange {
  0% {
    background: #ffe6e1;
  }
  25% {
    background: #fdcb9e;
  }
  50% {
    background: #fdcbc1;
  }
  75% {
    background: #ffff8c;
  }
  90% {
    background: #b2dffb;
  }
  100% {
    background: #ffe6e1;
  }
} */
