.wrap {
  text-align: left;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 700px;
  color: #7b7b7b;
}

.blogs {
  background-color: white;
  padding-left: 10px;
  padding-bottom: 5px;
}

.blogs_title {
  padding-left: 10px;
  color: black;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 50px;
  padding: 30px;
}

.blogs_category {
  padding-left: 10px;
}
