/* PC */
@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #454545;
    color: #f7fcfd;
    padding: 10px 0;
    align-items: center;
  }

  .footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }

  .footer li {
    margin-right: 20px;
    font-size: 20px;
    transition: 0.2s;
  }

  .icons a {
    margin-right: 10px;
    font-size: 30px;
  }
}

/* スマホ */
@media screen and (max-width: 479px) {
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #454545;
    color: #f7fcfd;
    padding: 5px 20px;
    align-items: center;
  }

  .footer ul {
    list-style: none;
    align-items: center;
    padding-left: 0;
  }

  .footer li {
    font-size: 15px;
    transition: 0.2s;
    margin-bottom: 10px;
  }

  .icons {
    display: flex;
    flex-direction: column;
  }
  .icons a {
    font-size: 20px;
  }
}
